/* 🌙 Personnalisation du mode dark */
:root[data-mantine-color-scheme='dark'] {
  --mantine-color-dark-9: #0a0a0a;
  --mantine-color-dark-8: #141414;
  --mantine-color-dark-7: #000;
}

.titleFont {
  font-family: Greycliff CF, var(--mantine-font-family), serif;
  font-weight: 900;
}