body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
::before,
::after {
  -ms-overflow-style: none;
  scrollbar-width: none;

  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#appShell>.appShell_header {
  background-image: linear-gradient(225deg, #2B86C5 0%, #784BA0 50%, #FF3CAC 100%);
}