.set_container {

  .set_logo {
    transition: transform 300ms ease;
  }

  &:hover {
    .set_logo {
      transform: scale(1.1) translateY(-5px);
    }
  }

}

.title {
  font-family: Greycliff CF, var(--mantine-font-family), serif;
  font-weight: 900;
}